<div class="container">
    <div class="card">
        {{customer | json}}

    </div>
    <div class="container  mt-2">
        <div class="card">
            <div class="card-header">Customer Account List</div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th> Account Number</th><th>Balance</th><th>Date Creation</th><th>Currency</th><th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    </tr>
                    </tbody>


                    </table>

            </div>
        </div>
    </div>
</div>
