<div class="container mt-2">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Accounts
        </div>
        <div class="card-body">
          <form [formGroup]="accountFormGroup" (ngSubmit)="handleSearchAccount()">
            <div class="input-group">
              <label class="input-group-text">Account Number:</label>
              <input type="text" formControlName="accountId" class="form-control">
              <button class="btn btn-primary">
                <i class="bi  bi-search ">
                  Search
                </i>
              </button>
            </div>

          </form>

          <ng-container *ngIf="accountObservable | async as accountDetails">
            <div class="mt-3">
              <label>ACCOUNT NUMBER : </label>
              <label><strong>{{accountDetails.accountId}}</strong></label>
            </div>
            <div class="mt-3">
              <label>Balance:</label>
              <label><strong>{{accountDetails.balance | number:'1.2-2'}}</strong></label>
            </div>
            <table class="table">
              <thead>
              <th>ID</th><th>Date</th><th>Type</th><th>Amount</th>
              </thead>
              <tbody>
              <tr *ngFor="let op of accountDetails.accountOperationDTOs">
                <td>{{op.id}}</td>
                <td>{{op.operationDate | date: 'dd-MM-yyyy:hh-mm'}}</td>
                <td>{{op.type}}</td>
                <td class="text-end">{{op.amount | number:'1.2-2'}}</td>

              </tr>
              </tbody>
            </table>
            <ul class="nav nav-pills">
              <li *ngFor="let item of[].constructor(accountDetails.totalPages);let page=index">
                <a [ngClass]="page==currentPage?'btn-primary':'btn-outline-primary'" (click)="gotoPage(page)" class="btn  ms-1 mt-1">{{page}}</a>
              </li>
            </ul>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-md-6">
  <div class="card" *ngIf="accountObservable">
    <div class="card-header">Operations </div>
    <div class="card-body">

      <form [formGroup]="operationFormGroup"method="post" (ngSubmit)="handleAccountOperation()">
        <div class="form-check form-check-inline">
          <label class="form-check-label">DEBIT</label>
          <input class="form-check-input" type="radio" formControlName="operationType" value="DEBIT">
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">CREDIT</label>
          <input class="form-check-input" type="radio" formControlName="operationType" value="CREDIT">
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label" >TRANSFERT</label>
          <input class="form-check-input" type="radio" formControlName="operationType" value="TRANSFERT">
        </div>
        <div class="mb-3" *ngIf="operationFormGroup.value['operationType']=='TRANSFERT'">
          <label class="form-label">Account Destination :</label>
          <input type="text" formControlName="accountDestination" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Amount :</label>
          <input type="text" formControlName="amount" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Description :</label>
          <input type="text" formControlName="description" class="form-control">
        </div>
        <div class="d-grid mb-3">
        <button class="btn btn-success"> Save Operation</button>
        </div>
      </form>
    </div>
  </div>
    </div>
  </div>

</div>
